<Layout::Section::Header @title={{@model.description}}>
    <Button @icon="long-arrow-left" @iconPrefix="fas" @text="Back" @onClick={{this.goBack}} />
</Layout::Section::Header>

<Layout::Section::Body>
    <div class="h-screen overflow-y-scroll pb-40">
        <div class="space-y-6 py-6 max-w-6xl mx-auto">
            <ApiEvent::Details @apiEvent={{@model}} />
            <ApiEvent::Data @apiEvent={{@model}} />
        </div>
    </div>
</Layout::Section::Body>