<ContentPanel @title="Request query parameters" @panelTitleClass="text-sm" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
    {{#if @apiRequest.query_params}}
        <CodeBlock @code={{or (json-stringify @apiRequest.query_params) ""}} @language="json" class="line-numbers" />
    {{else}}
        <div class="flex items-center justify-center h-24">
            <span class="text-sm text-gray-400">
                No query parameters
            </span>
        </div>
    {{/if}}
</ContentPanel>