<ContentPanel @title="Request headers" @panelTitleClass="text-sm" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
    {{#if @apiRequest.request_headers}}
        <CodeBlock @code={{or (json-stringify @apiRequest.request_headers) ""}} @language="json" class="line-numbers" />
    {{else}}
        <div class="flex items-center justify-center h-24">
            <span class="text-sm text-gray-400">
                No request HEADERS
            </span>
        </div>
    {{/if}}
</ContentPanel>